[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
openai = "*"
pillow = "*"
click = "*"
urllib3 = "==1.26.6"
chatgpt = {editable = true, path = "."}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
